.myNewSlick {
	height: 100%;

	.slick-track {
		display: flex !important;
		align-items: stretch;
	}

	.slick-arrow {
		display: none !important;
	}

	.slick-list {
		height: 100%;
		display: flex;
		justify-content: space-between;
	}

	.slick-slide {
		height: auto;
		display: flex !important;
		justify-content: center !important;

		> div {
			width: 90%;
			background-color: white;
			height: 100%;
		}
	}
}